<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527846935406-ois6qss8lnmv0habqhrt9q9jp4mguv15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527846935406-ois6qss8lnmv0habqhrt9q9jp4mguv15</string>
	<key>API_KEY</key>
	<string>AIzaSyDHPNMQ3cZjRMDWdnY581XXGmCGb9p7MRM</string>
	<key>GCM_SENDER_ID</key>
	<string>527846935406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.CustomLogin</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-8c481</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-8c481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527846935406:ios:b50a35199d2d8fde1c4f7f</string>
</dict>
</plist>